body {
  background-color: #3A381F;
  background-position: top;
  color: #D7D8DC;
  font-family: "vollkorn";
}

header {
  position: fixed;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  margin-left: -10px;
  margin-top: -10px;
  margin-bottom: 30px;
}

ul.topNav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #D9AB88;
}

ul.topNav li {
  float: left;
}

ul.topNav li a {
  display: inline-block;
  color: #D7D8DC;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  transition: 0.4s;
  font-size: 21px;
}

ul.topNav li a:hover {
  background-color: #3A381F;
}

header h1 {
  color: #D7D8DC;
  float: right;
  margin-right: 30px;
  margin-top: -40px;
}
img{
  max-width: 50%;
  padding: 20px;
}
.left{
  float: left;
}
.right{
  float:right;
}

p {
  padding-top: 60px;
  max-width: 40%;
}
